.find-more{
    border-radius: 50px !important;
    background-color: #C3AC6D !important;
    border: 2px solid #C3AC6D !important;
}
.find-more2{
    border: none !important;
    background-color: #d6b765 !important;
    padding: 5px !important;
}
.find-more:hover{
    background-color: #fff !important;
    border-radius: 5px !important;
}
.find-more2:hover,.find-more2:focus{
    background-color: #C3AC6D !important;
    border-radius: 5px !important;
}
.find-more-a:hover,.find-more-a2:hover{
    color: #C3AC6D !important;
    color: #fff !important;
}
.find-more-a{
    color: #fff !important;
    font-weight: 550 !important;
    font-size: 22px !important;
    text-decoration: none !important;
    padding: 60px !important;
}
.find-more-a2{
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    text-decoration: none !important;
    margin: 25px !important;
}
.sp-title-block{
     padding: 30px !important;
     margin-bottom: 0px !important;
}    
.sp-title-block h3{
    font-weight: 700 !important;
    font-size: 35px !important;
    margin-left: 15px !important;
}
.offset-md-1 p{
    margin-left: 15px !important;
}
#why-us .container-0{
    /*background-color: whitesmoke !important;*/
    padding: 2% !important;
    /*border: 5px solid #f5f5f5 !important;*/
    /*border-radius: 10px !important;*/
    /*margin:5% !important;*/
    /*-webkit-box-shadow: inset 0px 0px 60px 25px rgba(255, 255, 255, 0.8);*/
          /*-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/
    /*box-shadow: 0px 0px 60px 25px rgb(255, 255, 255) !important;*/
    background-color: #fff;
}
#why-us .container-1{
    padding: 2% !important;
    background-color: #f5f5f5;
}
#why-us .container-2{
    padding: 2% !important;
    background-color: #fff;
}
#why-us .container-3{
    padding: 2% !important;
    background-color: #f5f5f5;
}
/*#why-us .container-:hover{
    border: none;
    background-color: #eee;
}*/
.carousel-item .img-responsive{
    border-radius: 5px !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none !important;
}    
.dott{
    width: 10px !important;
    height: 10px !important;
}
.carousel-control-next, .carousel-control-prev{
    width: 1% !important;
}    
.sp-section{
    padding-top: 100px !important;
}    
.animated p{
    font-size: 24px !important;
    /*font-family: 'Patrick Hand', cursive !important;*/
}
.container- p{
    font-size: 18px !important;
    font-family: 'Patua One', cursive !important;
}    
.intro-body span{

    font-weight: 800 !important;
}
/* Slider */

.slick-slide {
    margin: 0px 20px !important;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}    
.sp-intro .intro-body .btn{
    -webkit-box-shadow:none !important;
} 
.border{
    border: 4px solid #C3AC6D !important;
    border-radius: 45px !important;
}
.border2{
    border: 4px solid #C3AC6D !important;
    border-radius: 10px !important;
}
.whiteBG{
    background-color: #fff !important;
}
.grayBG{
    background-color: #f5f5f5 !important;
}

@media only screen and (max-width: 600px) {
    .no-mobile {
        display: none !important;
    }
}
.container4{
    -moz-box-shadow: inset 0 0 5px 5px #888;
    -webkit-box-shadow: inset 0 0 5px 5px#888;
    box-shadow: inset 0 0 5px 5px #888;
}

.device:hover,.device:focus{
    border-radius: 50px !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}