#sp-header{
    background-color: #000000 !important;
    box-shadow: 0px 8px 20px 0px #a7a7a7 !important;
}
#sp-header a{
  font-weight: 800 !important;
}
#sp-primary-nav > .nav_menu > li > a ,#sp-header-inner > .brand-logo > h1{
  color: #fff !important;
}
#sp-header.header-stuck{
  border-bottom-color: #000 !important;
}
.find-more{
    border-radius: 50px !important;
    background-color: #C3AC6D !important;
    border: 2px solid #C3AC6D !important;
}
.find-more2{
    border: none !important;
    background-color: #d6b765 !important;
    padding: 5px !important;
}
.find-more:hover{
    background-color: #fff !important;
    border-radius: 5px !important;
}
.find-more2:hover,.find-more2:focus{
    background-color: #C3AC6D !important;
}
.find-more-a:hover,.find-more-a2:hover{
    color: #C3AC6D !important;
    color: #fff !important;
}
.find-more-a{
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    text-decoration: none !important;
}
.find-more-a2{
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    text-decoration: none !important;
    margin: 25px !important;
}
.find-more-a:hover{
    color: #C3AC6D !important;
}
.find-more-a{
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    text-decoration: none !important;
}
.sp-p-100{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #f7f7f7 !important;
}
.sp-blog-block.chess{
    margin-bottom: 0px !important;
}
.fm:hover{
    color: #C3AC6D !important;
}
h2{
  text-align:center;
  padding: 20px;
}
.slick-slide {
    margin: 0px 10px !important;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.hoverr{
    cursor: pointer;
}
.hoverr:hover{
    -ms-transform: scale(1.0); 
    -webkit-transform: scale(1.0); 
    transform: scale(1.0);
    padding: 6px;
    border: 6px solid #C3AC6D;
    border-radius: 45px;
}   

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all .3s;
  background: #c3ac6d;
  margin-bottom:20px;
}
/*.blog-slider:hover,.blog-slider:focus {
  background: #ecd492;
}*/

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    height: auto;
  }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: .3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 1;
  border-radius: 20px;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(0%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 86% !important;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 1;
  transform: translateY(25px);
  transition: all .4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 40px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 10px;
  text-align: center;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 12px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all .3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}
.blog-slider{
    width: 80% !important;
    margin-top: -130px !important;
}
.blog-slider{
    height: 310px !important;
}
.zoom-img:hover,.zoom-img:focus{
    transform: scale(0.9);
    transition: all .5s;   
}
.blog-slider__img{
    padding: 10px !important;
    margin-top: -20px !important;
}    
@media screen and (max-width: 767px) {
  .blog-slider__img{
    padding: 0px !important;
    margin-top: -22px !important;
  }
  .blog-slider__img img {
    width: 100% !important; 
    height: auto !important;
  }
  .blog-slider__content{
    margin-left: 0px !important;
    margin-top: -140px !important;
    margin-bottom: 20px !important; 
  }
  .blog-slider{
    margin-top: -50px !important;
    min-height: 364px !important;
  }
  [class*='col-']{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .sp-p-100{
    background-color: #fff !important;
  }
}
.dot-dot{
    display: inline-block;
    width: 90%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}    
.blog-slider__content{
    margin-left: -60px;
    margin-top: -60px;
}
@media screen and (min-width: 1440px) {
  .blog-slider__content {
    margin-left: 0px;
    margin-top: -24%;
  }
}
@media screen and (max-width: 1440px) {
  .blog-slider__content {
    margin-left: -60px;
    margin-top: -34%;
  }
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-perspective: 400;
          perspective: 400;
}

.plane {
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
          transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}
.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px #fdf025, inset 0 0 60px #fdf025;
}
.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: #fdf025;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px #fdf025;
}
.plane.main .circle::before {
  -webkit-transform: translateZ(-90px);
          transform: translateZ(-90px);
}
.plane.main .circle::after {
  -webkit-transform: translateZ(90px);
          transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
          transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
          transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
          transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
          transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
          transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
.device:hover,.device:focus{
    border-radius: 50px !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.blog-slider{
    background: #d6b765;
    box-shadow: inset 0px 0px 80px 13px rgba(226, 222, 210, 0.65);
}
@media screen and (min-width: 768px) {
  .nopcscreen{
    display: none !important;
  }
  .sing{
    padding: 0 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .nomobile {
    /*display: none !important;*/
    border: 6px solid #fff !important;
    margin-top: -40px !important;
  }
  .nomobilescreen{
    display: none !important;
  }
  .nomobilecolor {
    background-color: transparent !important;
  }
 
  .mobiletest{
    margin-bottom: 60px !important;
  }
  .blog-slider{
    background: #fff;
    box-shadow: none;
  }
  .mobiletop{
    padding: 15% 0px 0px 0px !important;
    margin-top: 0px !important;
  }
  .carousel-indicators li{
    display: none !important;
  }
  .sing{
    padding: 0%;
  }
}
.sp-p-100{
  background-color: #fbfbfb !important;
}
.blog-slider {
    background: #fff !important;
    box-shadow: inset 0px 0px 80px 13px rgba(226, 222, 210, 0.65) !important;
}
.blog-slider {
    height: 264px !important;
    border-radius: 50px !important;
}
.blog-slider__img{
    padding: 0px !important;
    margin-top: 0px !important;
}
@media screen and (max-width: 992px) {
    .addclass{
        width: 80% !important;
        height: 80% !important;
    }
}
@media screen and (min-width: 1200px) {
    .addclass{
        width: 70% !important;
        height: 70% !important;
        margin-left: 28% !important;
    }
    .blog-slider {
        height: 265px !important;
    }
}
@media screen and (max-width: 768px) {
  .blog-slider__title {
      margin-bottom: 40px !important;
  }
  .mobiletop{
      padding: 0px !important;
  }
  .addclass{
      padding-left: 15% !important;
  }
  .blog-slider__content{
      margin-top: -150px !important;
  }
  .blog-slider {
        border-radius: 30px !important;
    }
}