@charset "UTF-8";

 @font-face {
  font-family: 'sp-theme-icons';
  src: url('../font/sp-theme-iconsa645.eot?17136090');
  src: url('../font/sp-theme-iconsa645.eot?17136090#iefix') format('embedded-opentype'),
       url('../font/sp-theme-iconsa645.woff2?17136090') format('woff2'),
       url('../font/sp-theme-iconsa645.woff?17136090') format('woff'),
       url('../font/sp-theme-iconsa645.ttf?17136090') format('truetype'),
       url('../font/sp-theme-iconsa645.svg?17136090#sp-theme-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  font: normal normal normal 14px/1 "sp-theme-icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before { content: '\2b';}
.icon-minus:before { content: '\2d';}
.icon-left-big:before { content: '\2190';}
.icon-up-big:before { content: '\2191';}
.icon-right-big:before { content: '\2192';}
.icon-down-big:before { content: '\2193';}
.icon-home:before { content: '\2302';}
.icon-pause:before { content: '\2389';}
.icon-fast-fw:before { content: '\23e9';}
.icon-fast-bw:before { content: '\23ea';}
.icon-to-end:before { content: '\23ed';}
.icon-to-start:before { content: '\23ee';}
.icon-stop:before { content: '\25aa';}
.icon-up-dir:before { content: '\25b4';}
.icon-play:before { content: '\25b6';}
.icon-right-dir:before { content: '\25b8';}
.icon-down-dir:before { content: '\25be';}
.icon-left-dir:before { content: '\25c2';}
.icon-cloud:before { content: '\2601';}
.icon-umbrella:before { content: '\2602';}
.icon-star:before { content: '\2605';}
.icon-star-empty:before { content: '\2606';}
.icon-check:before { content: '\2611';}
.icon-left-hand:before { content: '\261c';}
.icon-up-hand:before { content: '\261d';}
.icon-right-hand:before { content: '\261e';}
.icon-down-hand:before { content: '\261f';}
.icon-th-list:before { content: '\2630';}
.icon-heart-empty:before { content: '\2661';}
.icon-heart:before { content: '\2665';}
.icon-music:before { content: '\266b';}
.icon-th:before { content: '\268f';}
.icon-flag:before { content: '\2691';}
.icon-cog:before { content: '\2699';}
.icon-attention:before { content: '\26a0';}
.icon-flash:before { content: '\26a1';}
.icon-cog-alt:before { content: '\26ef';}
.icon-scissors:before { content: '\2702';}
.icon-flight:before { content: '\2708';}
.icon-mail:before { content: '\2709';}
.icon-edit:before { content: '\270d';}
.icon-pencil:before { content: '\270e';}
.icon-ok:before { content: '\2713';}
.icon-ok-circled:before { content: '\2714';}
.icon-cancel:before { content: '\2715';}
.icon-cancel-circled:before { content: '\2716';}
.icon-asterisk:before { content: '\2731';}
.icon-attention-circled:before { content: '\2757';}
.icon-plus-circled:before { content: '\2795';}
.icon-minus-circled:before { content: '\2796';}
.icon-forward:before { content: '\27a6';}
.icon-ccw:before { content: '\27f2';}
.icon-cw:before { content: '\27f3';}
.icon-resize-vertical:before { content: '\2b0c';}
.icon-resize-horizontal:before { content: '\2b0d';}
.icon-eject:before { content: '\2ecf';}
.icon-star-half:before { content: '\e701';}
.icon-ok-circled2:before { content: '\e702';}
.icon-cancel-circled2:before { content: '\e703';}
.icon-help-circled:before { content: '\e704';}
.icon-info-circled:before { content: '\e705';}
.icon-th-large:before { content: '\e708';}
.icon-eye:before { content: '\e70a';}
.icon-eye-off:before { content: '\e70b';}
.icon-tag:before { content: '\e70c';}
.icon-tags:before { content: '\e70d';}
.icon-camera-alt:before { content: '\e70f';}
.icon-export:before { content: '\e715';}
.icon-print:before { content: '\e716';}
.icon-retweet:before { content: '\e717';}
.icon-comment:before { content: '\e718';}
.icon-chat:before { content: '\e720';}
.icon-location:before { content: '\e724';}
.icon-trash-empty:before { content: '\e729';}
.icon-basket:before { content: '\e73d';}
.icon-login:before { content: '\e740';}
.icon-logout:before { content: '\e741';}
.icon-resize-full:before { content: '\e744';}
.icon-resize-small:before { content: '\e746';}
.icon-zoom-in:before { content: '\e750';}
.icon-zoom-out:before { content: '\e751';}
.icon-down-circled2:before { content: '\e758';}
.icon-up-circled2:before { content: '\e75b';}
.icon-down-open:before { content: '\e75c';}
.icon-left-open:before { content: '\e75d';}
.icon-right-open:before { content: '\e75e';}
.icon-up-open:before { content: '\e75f';}
.icon-arrows-cw:before { content: '\e760';}
.icon-play-circled2:before { content: '\e761';}
.icon-to-end-alt:before { content: '\e762';}
.icon-to-start-alt:before { content: '\e763';}
.icon-inbox:before { content: '\e777';}
.icon-font:before { content: '\e779';}
.icon-bold:before { content: '\e77a';}
.icon-italic:before { content: '\e77b';}
.icon-text-height:before { content: '\e77c';}
.icon-text-width:before { content: '\e77d';}
.icon-align-left:before { content: '\e77e';}
.icon-align-center:before { content: '\e77f';}
.icon-align-right:before { content: '\e780';}
.icon-align-justify:before { content: '\e781';}
.icon-list:before { content: '\e782';}
.icon-indent-left:before { content: '\e783';}
.icon-indent-right:before { content: '\e784';}
.icon-off:before { content: '\e78e';}
.icon-road:before { content: '\e78f';}
.icon-list-alt:before { content: '\e790';}
.icon-qrcode:before { content: '\e791';}
.icon-barcode:before { content: '\e792';}
.icon-adjust:before { content: '\e793';}
.icon-tint:before { content: '\e794';}
.icon-magnet:before { content: '\e7a1';}
.icon-star-half-alt:before { content: '\e800';}
.icon-user-plus:before { content: '\e801';}
.icon-user-times:before { content: '\e802';}
.icon-user-secret:before { content: '\e803';}
.icon-ok-squared:before { content: '\e804';}
.icon-minus-squared-alt:before { content: '\e805';}
.icon-help:before { content: '\e806';}
.icon-info:before { content: '\e807';}
.icon-unlink:before { content: '\e808';}
.icon-lock-open-alt:before { content: '\e809';}
.icon-flag-empty:before { content: '\e80a';}
.icon-flag-checkered:before { content: '\e80b';}
.icon-reply:before { content: '\e80c';}
.icon-reply-all:before { content: '\e80d';}
.icon-quote-left:before { content: '\e80e';}
.icon-quote-right:before { content: '\e80f';}
.icon-code:before { content: '\e810';}
.icon-pencil-squared:before { content: '\e811';}
.icon-keyboard:before { content: '\e812';}
.icon-gamepad:before { content: '\e813';}
.icon-attention-alt:before { content: '\e814';}
.icon-direction:before { content: '\e815';}
.icon-folder-empty:before { content: '\e816';}
.icon-folder-open-empty:before { content: '\e817';}
.icon-rss-squared:before { content: '\e818';}
.icon-cart-plus:before { content: '\e819';}
.icon-cart-arrow-down:before { content: '\e81a';}
.icon-calendar-empty:before { content: '\e81b';}
.icon-mic:before { content: '\e81c';}
.icon-mute:before { content: '\e81d';}
.icon-angle-left:before { content: '\e81e';}
.icon-angle-right:before { content: '\e81f';}
.icon-angle-up:before { content: '\e820';}
.icon-angle-down:before { content: '\e821';}
.icon-angle-circled-left:before { content: '\e822';}
.icon-angle-circled-up:before { content: '\e823';}
.icon-angle-circled-down:before { content: '\e824';}
.icon-angle-double-left:before { content: '\e825';}
.icon-angle-double-right:before { content: '\e826';}
.icon-angle-double-up:before { content: '\e827';}
.icon-angle-double-down:before { content: '\e828';}
.icon-level-up:before { content: '\e829';}
.icon-level-down:before { content: '\e82a';}
.icon-play-circled:before { content: '\e82b';}
.icon-desktop:before { content: '\e82c';}
.icon-laptop:before { content: '\e82d';}
.icon-tablet:before { content: '\e82e';}
.icon-mobile:before { content: '\e82f';}
.icon-medium:before { content: '\e830';}
.icon-superscript:before { content: '\e831';}
.icon-subscript:before { content: '\e832';}
.icon-crop:before { content: '\e833';}
.icon-ellipsis:before { content: '\e834';}
.icon-ellipsis-vert:before { content: '\e835';}
.icon-toggle-off:before { content: '\e836';}
.icon-toggle-on:before { content: '\e837';}
.icon-circle:before { content: '\e838';}
.icon-circle-empty:before { content: '\e839';}
.icon-chart-area:before { content: '\e83a';}
.icon-chart-pie:before { content: '\e83b';}
.icon-chart-line:before { content: '\e83c';}
.icon-fork:before { content: '\e83d';}
.icon-rocket:before { content: '\e83e';}
.icon-bus:before { content: '\e83f';}
.icon-bicycle:before { content: '\e840';}
.icon-motorcycle:before { content: '\e841';}
.icon-train:before { content: '\e842';}
.icon-subway:before { content: '\e843';}
.icon-ship:before { content: '\e844';}
.icon-shekel:before { content: '\e845';}
.icon-viacoin:before { content: '\e846';}
.icon-spinner:before { content: '\e847';}
.icon-heartbeat:before { content: '\e848';}
.icon-bed:before { content: '\e849';}
.icon-smile:before { content: '\e84a';}
.icon-frown:before { content: '\e84b';}
.icon-meh:before { content: '\e84c';}
.icon-anchor:before { content: '\e84d';}
.icon-terminal:before { content: '\e84e';}
.icon-eraser:before { content: '\e84f';}
.icon-puzzle:before { content: '\e850';}
.icon-shield:before { content: '\e851';}
.icon-extinguisher:before { content: '\e852';}
.icon-bullseye:before { content: '\e853';}
.icon-server:before { content: '\e854';}
.icon-copyright:before { content: '\e855';}
.icon-at:before { content: '\e856';}
.icon-eyedropper:before { content: '\e857';}
.icon-brush:before { content: '\e858';}
.icon-birthday:before { content: '\e859';}
.icon-diamond:before { content: '\e85a';}
.icon-street-view:before { content: '\e85b';}
.icon-venus:before { content: '\e85c';}
.icon-mars:before { content: '\e85d';}
.icon-mercury:before { content: '\e85e';}
.icon-transgender:before { content: '\e85f';}
.icon-transgender-alt:before { content: '\e860';}
.icon-venus-double:before { content: '\e861';}
.icon-mars-double:before { content: '\e862';}
.icon-venus-mars:before { content: '\e863';}
.icon-mars-stroke:before { content: '\e864';}
.icon-mars-stroke-v:before { content: '\e865';}
.icon-mars-stroke-h:before { content: '\e866';}
.icon-neuter:before { content: '\e867';}
.icon-angellist:before { content: '\e868';}
.icon-buysellads:before { content: '\e869';}
.icon-cc:before { content: '\e86a';}
.icon-connectdevelop:before { content: '\e86b';}
.icon-dashcube:before { content: '\e86c';}
.icon-facebook-official:before { content: '\e86d';}
.icon-forumbee:before { content: '\e86e';}
.icon-github:before { content: '\e86f';}
.icon-ioxhost:before { content: '\e870';}
.icon-lastfm:before { content: '\e871';}
.icon-lastfm-squared:before { content: '\e872';}
.icon-leanpub:before { content: '\e873';}
.icon-linkedin-squared:before { content: '\e874';}
.icon-maxcdn:before { content: '\e875';}
.icon-meanpath:before { content: '\e876';}
.icon-pinterest:before { content: '\e877';}
.icon-sellsy:before { content: '\e878';}
.icon-shirtsinbulk:before { content: '\e879';}
.icon-simplybuilt:before { content: '\e87a';}
.icon-skyatlas:before { content: '\e87b';}
.icon-whatsapp:before { content: '\e87c';}
.icon-genderless:before { content: '\e87d';}
.icon-y-combinator:before { content: '\e87e';}
.icon-optin-monster:before { content: '\e87f';}
.icon-opencart:before { content: '\e880';}
.icon-expeditedssl:before { content: '\e881';}
.icon-battery-4:before { content: '\e882';}
.icon-battery-3:before { content: '\e883';}
.icon-battery-2:before { content: '\e884';}
.icon-battery-1:before { content: '\e885';}
.icon-battery-0:before { content: '\e886';}
.icon-mouse-pointer:before { content: '\e887';}
.icon-i-cursor:before { content: '\e888';}
.icon-object-group:before { content: '\e889';}
.icon-object-ungroup:before { content: '\e88a';}
.icon-sticky-note:before { content: '\e88b';}
.icon-sticky-note-o:before { content: '\e88c';}
.icon-cc-jcb:before { content: '\e88d';}
.icon-cc-diners-club:before { content: '\e88e';}
.icon-clone:before { content: '\e88f';}
.icon-balance-scale:before { content: '\e890';}
.icon-hourglass-o:before { content: '\e891';}
.icon-hourglass-1:before { content: '\e892';}
.icon-hourglass-2:before { content: '\e893';}
.icon-hourglass-3:before { content: '\e894';}
.icon-hourglass:before { content: '\e895';}
.icon-hand-grab-o:before { content: '\e896';}
.icon-hand-paper-o:before { content: '\e897';}
.icon-hand-scissors-o:before { content: '\e898';}
.icon-hand-lizard-o:before { content: '\e899';}
.icon-hand-spock-o:before { content: '\e89a';}
.icon-hand-pointer-o:before { content: '\e89b';}
.icon-hand-peace-o:before { content: '\e89c';}
.icon-trademark:before { content: '\e89d';}
.icon-registered:before { content: '\e89e';}
.icon-creative-commons:before { content: '\e89f';}
.icon-gg:before { content: '\e8a0';}
.icon-gg-circle:before { content: '\e8a1';}
.icon-tripadvisor:before { content: '\e8a2';}
.icon-odnoklassniki:before { content: '\e8a3';}
.icon-odnoklassniki-square:before { content: '\e8a4';}
.icon-get-pocket:before { content: '\e8a5';}
.icon-wikipedia-w:before { content: '\e8a6';}
.icon-safari:before { content: '\e8a7';}
.icon-chrome:before { content: '\e8a8';}
.icon-firefox:before { content: '\e8a9';}
.icon-opera:before { content: '\e8aa';}
.icon-internet-explorer:before { content: '\e8ab';}
.icon-television:before { content: '\e8ac';}
.icon-contao:before { content: '\e8ad';}
.icon-500px:before { content: '\e8ae';}
.icon-amazon:before { content: '\e8af';}
.icon-calendar-plus-o:before { content: '\e8b0';}
.icon-calendar-minus-o:before { content: '\e8b1';}
.icon-calendar-times-o:before { content: '\e8b2';}
.icon-calendar-check-o:before { content: '\e8b3';}
.icon-industry:before { content: '\e8b4';}
.icon-map-pin:before { content: '\e8b5';}
.icon-map-signs:before { content: '\e8b6';}
.icon-map-o:before { content: '\e8b7';}
.icon-map:before { content: '\e8b8';}
.icon-commenting:before { content: '\e8b9';}
.icon-commenting-o:before { content: '\e8ba';}
.icon-houzz:before { content: '\e8bb';}
.icon-vimeo:before { content: '\e8bc';}
.icon-percent:before { content: '\e8bd';}
.icon-gitlab:before { content: '\e8be';}
.icon-wpbeginner:before { content: '\e8bf';}
.icon-wpforms:before { content: '\e8c0';}
.icon-envira:before { content: '\e8c1';}
.icon-universal-access:before { content: '\e8c2';}
.icon-wheelchair-alt:before { content: '\e8c3';}
.icon-question-circle-o:before { content: '\e8c4';}
.icon-blind:before { content: '\e8c5';}
.icon-audio-description:before { content: '\e8c6';}
.icon-volume-control-phone:before { content: '\e8c7';}
.icon-braille:before { content: '\e8c8';}
.icon-assistive-listening-systems:before { content: '\e8c9';}
.icon-american-sign-language-interpreting:before { content: '\e8ca';}
.icon-asl-interpreting:before { content: '\e8cb';}
.icon-glide:before { content: '\e8cc';}
.icon-glide-g:before { content: '\e8cd';}
.icon-sign-language:before { content: '\e8ce';}
.icon-low-vision:before { content: '\e8cf';}
.icon-viadeo:before { content: '\e8d0';}
.icon-viadeo-square:before { content: '\e8d1';}
.icon-snapchat:before { content: '\e8d2';}
.icon-snapchat-ghost:before { content: '\e8d3';}
.icon-snapchat-square:before { content: '\e8d4';}
.icon-pied-piper:before { content: '\e8d5';}
.icon-first-order:before { content: '\e8d6';}
.icon-yoast:before { content: '\e8d7';}
.icon-themeisle:before { content: '\e8d8';}
.icon-google-plus-circle:before { content: '\e8d9';}
.icon-font-awesome:before { content: '\e8da';}
.icon-handshake-o:before { content: '\e8db';}
.icon-envelope-open:before { content: '\e8dc';}
.icon-envelope-open-o:before { content: '\e8dd';}
.icon-linode:before { content: '\e8de';}
.icon-address-book:before { content: '\e8df';}
.icon-address-book-o:before { content: '\e8e0';}
.icon-user-circle-o:before { content: '\e8e1';}
.icon-user-o:before { content: '\e8e2';}
.icon-id-badge:before { content: '\e8e3';}
.icon-id-card:before { content: '\e8e4';}
.icon-id-card-o:before { content: '\e8e5';}
.icon-quora:before { content: '\e8e6';}
.icon-free-code-camp:before { content: '\e8e7';}
.icon-thermometer:before { content: '\e8e8';}
.icon-thermometer-2:before { content: '\e8e9';}
.icon-thermometer-quarter:before { content: '\e8ea';}
.icon-window-minimize:before { content: '\e8eb';}
.icon-window-restore:before { content: '\e8ec';}
.icon-window-close:before { content: '\e8ed';}
.icon-window-close-o:before { content: '\e8ee';}
.icon-etsy:before { content: '\e8ef';}
.icon-imdb:before { content: '\e8f0';}
.icon-ravelry:before { content: '\e8f1';}
.icon-superpowers:before { content: '\e8f2';}
.icon-meetup:before { content: '\e8f3';}
.icon-move:before { content: '\f047';}
.icon-link-ext:before { content: '\f08e';}
.icon-check-empty:before { content: '\f096';}
.icon-bookmark-empty:before { content: '\f097';}
.icon-phone-squared:before { content: '\f098';}
.icon-twitter:before { content: '\f099';}
.icon-facebook:before { content: '\f09a';}
.icon-github-circled:before { content: '\f09b';}
.icon-rss:before { content: '\f09e';}
.icon-hdd:before { content: '\f0a0';}
.icon-certificate:before { content: '\f0a3';}
.icon-left-circled:before { content: '\f0a8';}
.icon-right-circled:before { content: '\f0a9';}
.icon-up-circled:before { content: '\f0aa';}
.icon-down-circled:before { content: '\f0ab';}
.icon-tasks:before { content: '\f0ae';}
.icon-filter:before { content: '\f0b0';}
.icon-resize-full-alt:before { content: '\f0b2';}
.icon-beaker:before { content: '\f0c3';}
.icon-docs:before { content: '\f0c5';}
.icon-blank:before { content: '\f0c8';}
.icon-menu:before { content: '\f0c9';}
.icon-list-bullet:before { content: '\f0ca';}
.icon-list-numbered:before { content: '\f0cb';}
.icon-strike:before { content: '\f0cc';}
.icon-underline:before { content: '\f0cd';}
.icon-table:before { content: '\f0ce';}
.icon-magic:before { content: '\f0d0';}
.icon-pinterest-circled:before { content: '\f0d2';}
.icon-pinterest-squared:before { content: '\f0d3';}
.icon-gplus-squared:before { content: '\f0d4';}
.icon-gplus:before { content: '\f0d5';}
.icon-money:before { content: '\f0d6';}
.icon-columns:before { content: '\f0db';}
.icon-sort:before { content: '\f0dc';}
.icon-sort-down:before { content: '\f0dd';}
.icon-sort-up:before { content: '\f0de';}
.icon-mail-alt:before { content: '\f0e0';}
.icon-linkedin:before { content: '\f0e1';}
.icon-gauge:before { content: '\f0e4';}
.icon-comment-empty:before { content: '\f0e5';}
.icon-chat-empty:before { content: '\f0e6';}
.icon-sitemap:before { content: '\f0e8';}
.icon-paste:before { content: '\f0ea';}
.icon-lightbulb:before { content: '\f0eb';}
.icon-exchange:before { content: '\f0ec';}
.icon-download-cloud:before { content: '\f0ed';}
.icon-upload-cloud:before { content: '\f0ee';}
.icon-user-md:before { content: '\f0f0';}
.icon-stethoscope:before { content: '\f0f1';}
.icon-suitcase:before { content: '\f0f2';}
.icon-bell-alt:before { content: '\f0f3';}
.icon-coffee:before { content: '\f0f4';}
.icon-food:before { content: '\f0f5';}
.icon-doc-text:before { content: '\f0f6';}
.icon-building:before { content: '\f0f7';}
.icon-hospital:before { content: '\f0f8';}
.icon-ambulance:before { content: '\f0f9';}
.icon-medkit:before { content: '\f0fa';}
.icon-fighter-jet:before { content: '\f0fb';}
.icon-beer:before { content: '\f0fc';}
.icon-h-sigh:before { content: '\f0fd';}
.icon-plus-squared:before { content: '\f0fe';}
.icon-ion-alert-circled:before { content: '\f100';}
.icon-ion-alert:before { content: '\f101';}
.icon-ion-archive:before { content: '\f102';}
.icon-ion-arrow-down-a:before { content: '\f103';}
.icon-ion-arrow-down-b:before { content: '\f104';}
.icon-ion-arrow-down-c:before { content: '\f105';}
.icon-ion-arrow-left-a:before { content: '\f106';}
.icon-ion-arrow-left-b:before { content: '\f107';}
.icon-ion-arrow-left-c:before { content: '\f108';}
.icon-ion-arrow-right-a:before { content: '\f109';}
.icon-ion-arrow-right-b:before { content: '\f10a';}
.icon-ion-arrow-right-c:before { content: '\f10b';}
.icon-ion-arrow-up-a:before { content: '\f10c';}
.icon-ion-arrow-up-b:before { content: '\f10d';}
.icon-ion-arrow-up-c:before { content: '\f10e';}
.icon-ion-at:before { content: '\f10f';}
.icon-ion-bag:before { content: '\f110';}
.icon-ion-battery-charging:before { content: '\f111';}
.icon-ion-battery-empty:before { content: '\f112';}
.icon-ion-battery-full:before { content: '\f113';}
.icon-ion-battery-half:before { content: '\f114';}
.icon-ion-battery-low:before { content: '\f115';}
.icon-ion-bluetooth:before { content: '\f116';}
.icon-ion-calendar:before { content: '\f117';}
.icon-ion-camera:before { content: '\f118';}
.icon-ion-card:before { content: '\f119';}
.icon-ion-chatbox-working:before { content: '\f11a';}
.icon-ion-chatbox:before { content: '\f11b';}
.icon-ion-chatboxes:before { content: '\f11c';}
.icon-ion-chatbubble-working:before { content: '\f11d';}
.icon-ion-chatbubble:before { content: '\f11e';}
.icon-ion-chatbubbles:before { content: '\f11f';}
.icon-ion-checkmark-circled:before { content: '\f120';}
.icon-ion-checkmark-round:before { content: '\f121';}
.icon-ion-checkmark:before { content: '\f122';}
.icon-ion-chevron-down:before { content: '\f123';}
.icon-ion-chevron-left:before { content: '\f124';}
.icon-ion-chevron-right:before { content: '\f125';}
.icon-ion-chevron-up:before { content: '\f126';}
.icon-ion-clipboard:before { content: '\f127';}
.icon-ion-close-circled:before { content: '\f128';}
.icon-ion-close-round:before { content: '\f129';}
.icon-ion-close:before { content: '\f12a';}
.icon-ion-cloud:before { content: '\f12b';}
.icon-ion-compose:before { content: '\f12c';}
.icon-ion-disc:before { content: '\f12d';}
.icon-ion-document-text:before { content: '\f12e';}
.icon-ion-document:before { content: '\f12f';}
.icon-ion-drag:before { content: '\f130';}
.icon-ion-eject:before { content: '\f131';}
.icon-ion-email:before { content: '\f132';}
.icon-ion-eye:before { content: '\f133';}
.icon-ion-filing:before { content: '\f134';}
.icon-ion-film-marker:before { content: '\f135';}
.icon-ion-flash-off:before { content: '\f136';}
.icon-ion-flash:before { content: '\f137';}
.icon-angle-circled-right:before { content: '\f138';}
.icon-ion-folder:before { content: '\f139';}
.icon-ion-forward:before { content: '\f13a';}
.icon-html5:before { content: '\f13b';}
.icon-css3:before { content: '\f13c';}
.icon-ion-gear-a:before { content: '\f13d';}
.icon-ion-gear-b:before { content: '\f13e';}
.icon-ion-grid:before { content: '\f13f';}
.icon-ion-headphone:before { content: '\f140';}
.icon-ion-heart:before { content: '\f141';}
.icon-ion-help-circled:before { content: '\f142';}
.icon-ion-help:before { content: '\f143';}
.icon-ion-home:before { content: '\f144';}
.icon-ticket:before { content: '\f145';}
.icon-minus-squared:before { content: '\f146';}
.icon-ion-image:before { content: '\f147';}
.icon-ion-images:before { content: '\f148';}
.icon-ion-information-circled:before { content: '\f149';}
.icon-ion-information:before { content: '\f14a';}
.icon-ion-ionic:before { content: '\f14b';}
.icon-link-ext-alt:before { content: '\f14c';}
.icon-export-alt:before { content: '\f14d';}
.icon-compass:before { content: '\f14e';}
.icon-expand:before { content: '\f150';}
.icon-collapse:before { content: '\f151';}
.icon-expand-right:before { content: '\f152';}
.icon-euro:before { content: '\f153';}
.icon-pound:before { content: '\f154';}
.icon-dollar:before { content: '\f155';}
.icon-rupee:before { content: '\f156';}
.icon-yen:before { content: '\f157';}
.icon-rouble:before { content: '\f158';}
.icon-won:before { content: '\f159';}
.icon-bitcoin:before { content: '\f15a';}
.icon-doc-inv:before { content: '\f15b';}
.icon-doc-text-inv:before { content: '\f15c';}
.icon-sort-name-up:before { content: '\f15d';}
.icon-sort-name-down:before { content: '\f15e';}
.icon-sort-alt-up:before { content: '\f160';}
.icon-sort-alt-down:before { content: '\f161';}
.icon-sort-number-up:before { content: '\f162';}
.icon-sort-number-down:before { content: '\f163';}
.icon-thumbs-up-alt:before { content: '\f164';}
.icon-thumbs-down-alt:before { content: '\f165';}
.icon-youtube-squared:before { content: '\f166';}
.icon-youtube:before { content: '\f167';}
.icon-xing:before { content: '\f168';}
.icon-xing-squared:before { content: '\f169';}
.icon-youtube-play:before { content: '\f16a';}
.icon-dropbox:before { content: '\f16b';}
.icon-stackoverflow:before { content: '\f16c';}
.icon-instagram:before { content: '\f16d';}
.icon-flickr:before { content: '\f16e';}
.icon-adn:before { content: '\f170';}
.icon-bitbucket:before { content: '\f171';}
.icon-bitbucket-squared:before { content: '\f172';}
.icon-tumblr:before { content: '\f173';}
.icon-tumblr-squared:before { content: '\f174';}
.icon-down:before { content: '\f175';}
.icon-up:before { content: '\f176';}
.icon-left:before { content: '\f177';}
.icon-right:before { content: '\f178';}
.icon-apple:before { content: '\f179';}
.icon-windows:before { content: '\f17a';}
.icon-android:before { content: '\f17b';}
.icon-linux:before { content: '\f17c';}
.icon-dribbble:before { content: '\f17d';}
.icon-skype:before { content: '\f17e';}
.icon-foursquare:before { content: '\f180';}
.icon-trello:before { content: '\f181';}
.icon-female:before { content: '\f182';}
.icon-male:before { content: '\f183';}
.icon-gittip:before { content: '\f184';}
.icon-sun:before { content: '\f185';}
.icon-moon:before { content: '\f186';}
.icon-box:before { content: '\f187';}
.icon-bug:before { content: '\f188';}
.icon-vkontakte:before { content: '\f189';}
.icon-weibo:before { content: '\f18a';}
.icon-renren:before { content: '\f18b';}
.icon-pagelines:before { content: '\f18c';}
.icon-stackexchange:before { content: '\f18d';}
.icon-right-circled2:before { content: '\f18e';}
.icon-left-circled2:before { content: '\f190';}
.icon-collapse-left:before { content: '\f191';}
.icon-dot-circled:before { content: '\f192';}
.icon-wheelchair:before { content: '\f193';}
.icon-vimeo-squared:before { content: '\f194';}
.icon-try:before { content: '\f195';}
.icon-plus-squared-alt:before { content: '\f196';}
.icon-space-shuttle:before { content: '\f197';}
.icon-slack:before { content: '\f198';}
.icon-mail-squared:before { content: '\f199';}
.icon-wordpress:before { content: '\f19a';}
.icon-openid:before { content: '\f19b';}
.icon-bank:before { content: '\f19c';}
.icon-graduation-cap:before { content: '\f19d';}
.icon-yahoo:before { content: '\f19e';}
.icon-google:before { content: '\f1a0';}
.icon-reddit:before { content: '\f1a1';}
.icon-reddit-squared:before { content: '\f1a2';}
.icon-stumbleupon-circled:before { content: '\f1a3';}
.icon-stumbleupon:before { content: '\f1a4';}
.icon-delicious:before { content: '\f1a5';}
.icon-digg:before { content: '\f1a6';}
.icon-pied-piper-squared:before { content: '\f1a7';}
.icon-pied-piper-alt:before { content: '\f1a8';}
.icon-drupal:before { content: '\f1a9';}
.icon-joomla:before { content: '\f1aa';}
.icon-language:before { content: '\f1ab';}
.icon-fax:before { content: '\f1ac';}
.icon-building-filled:before { content: '\f1ad';}
.icon-child:before { content: '\f1ae';}
.icon-paw:before { content: '\f1b0';}
.icon-spoon:before { content: '\f1b1';}
.icon-cube:before { content: '\f1b2';}
.icon-cubes:before { content: '\f1b3';}
.icon-behance:before { content: '\f1b4';}
.icon-behance-squared:before { content: '\f1b5';}
.icon-steam:before { content: '\f1b6';}
.icon-steam-squared:before { content: '\f1b7';}
.icon-recycle:before { content: '\f1b8';}
.icon-cab:before { content: '\f1b9';}
.icon-taxi:before { content: '\f1ba';}
.icon-tree:before { content: '\f1bb';}
.icon-spotify:before { content: '\f1bc';}
.icon-deviantart:before { content: '\f1bd';}
.icon-soundcloud:before { content: '\f1be';}
.icon-database:before { content: '\f1c0';}
.icon-file-pdf:before { content: '\f1c1';}
.icon-file-word:before { content: '\f1c2';}
.icon-file-excel:before { content: '\f1c3';}
.icon-file-powerpoint:before { content: '\f1c4';}
.icon-file-image:before { content: '\f1c5';}
.icon-file-archive:before { content: '\f1c6';}
.icon-file-audio:before { content: '\f1c7';}
.icon-file-video:before { content: '\f1c8';}
.icon-file-code:before { content: '\f1c9';}
.icon-vine:before { content: '\f1ca';}
.icon-codeopen:before { content: '\f1cb';}
.icon-jsfiddle:before { content: '\f1cc';}
.icon-lifebuoy:before { content: '\f1cd';}
.icon-circle-notch:before { content: '\f1ce';}
.icon-rebel:before { content: '\f1d0';}
.icon-empire:before { content: '\f1d1';}
.icon-git-squared:before { content: '\f1d2';}
.icon-git:before { content: '\f1d3';}
.icon-hacker-news:before { content: '\f1d4';}
.icon-tencent-weibo:before { content: '\f1d5';}
.icon-qq:before { content: '\f1d6';}
.icon-wechat:before { content: '\f1d7';}
.icon-paper-plane:before { content: '\f1d8';}
.icon-paper-plane-empty:before { content: '\f1d9';}
.icon-history:before { content: '\f1da';}
.icon-circle-thin:before { content: '\f1db';}
.icon-header:before { content: '\f1dc';}
.icon-paragraph:before { content: '\f1dd';}
.icon-sliders:before { content: '\f1de';}
.icon-share:before { content: '\f1e0';}
.icon-share-squared:before { content: '\f1e1';}
.icon-bomb:before { content: '\f1e2';}
.icon-soccer-ball:before { content: '\f1e3';}
.icon-tty:before { content: '\f1e4';}
.icon-binoculars:before { content: '\f1e5';}
.icon-plug:before { content: '\f1e6';}
.icon-slideshare:before { content: '\f1e7';}
.icon-twitch:before { content: '\f1e8';}
.icon-yelp:before { content: '\f1e9';}
.icon-newspaper:before { content: '\f1ea';}
.icon-wifi:before { content: '\f1eb';}
.icon-calc:before { content: '\f1ec';}
.icon-paypal:before { content: '\f1ed';}
.icon-gwallet:before { content: '\f1ee';}
.icon-cc-visa:before { content: '\f1f0';}
.icon-cc-mastercard:before { content: '\f1f1';}
.icon-cc-discover:before { content: '\f1f2';}
.icon-cc-amex:before { content: '\f1f3';}
.icon-cc-paypal:before { content: '\f1f4';}
.icon-cc-stripe:before { content: '\f1f5';}
.icon-bell-off:before { content: '\f1f6';}
.icon-bell-off-empty:before { content: '\f1f7';}
.icon-trash:before { content: '\f1f8';}
.icon-ion-ipad:before { content: '\f1f9';}
.icon-ion-iphone:before { content: '\f1fa';}
.icon-ion-ipod:before { content: '\f1fb';}
.icon-ion-laptop:before { content: '\f1fc';}
.icon-ion-leaf:before { content: '\f1fd';}
.icon-ion-link:before { content: '\f1fe';}
.icon-ion-location:before { content: '\f1ff';}
.icon-ion-locked:before { content: '\f200';}
.icon-ion-loop:before { content: '\f201';}
.icon-ion-man:before { content: '\f202';}
.icon-ion-map:before { content: '\f203';}
.icon-ion-mic-a:before { content: '\f204';}
.icon-ion-mic-b:before { content: '\f205';}
.icon-ion-mic-c:before { content: '\f206';}
.icon-ion-minus-circled:before { content: '\f207';}
.icon-ion-minus-round:before { content: '\f208';}
.icon-ion-minus:before { content: '\f209';}
.icon-ion-monitor:before { content: '\f20a';}
.icon-ion-more:before { content: '\f20b';}
.icon-ion-music-note:before { content: '\f20c';}
.icon-ion-navicon-round:before { content: '\f20d';}
.icon-ion-navicon:before { content: '\f20e';}
.icon-ion-paperclip:before { content: '\f20f';}
.icon-ion-pause:before { content: '\f210';}
.icon-ion-person-add:before { content: '\f211';}
.icon-ion-person-stalker:before { content: '\f212';}
.icon-ion-person:before { content: '\f213';}
.icon-ion-plane:before { content: '\f214';}
.icon-ion-play:before { content: '\f215';}
.icon-ion-plus-circled:before { content: '\f216';}
.icon-ion-plus-round:before { content: '\f217';}
.icon-ion-plus:before { content: '\f218';}
.icon-ion-pound:before { content: '\f219';}
.icon-ion-printer:before { content: '\f21a';}
.icon-ion-record:before { content: '\f21b';}
.icon-ion-refresh:before { content: '\f21c';}
.icon-ion-reply-all:before { content: '\f21d';}
.icon-ion-reply:before { content: '\f21e';}
.icon-ion-search:before { content: '\f21f';}
.icon-ion-share:before { content: '\f220';}
.icon-ion-shuffle:before { content: '\f221';}
.icon-ion-skip-backward:before { content: '\f222';}
.icon-ion-skip-forward:before { content: '\f223';}
.icon-ion-social-android-outline:before { content: '\f224';}
.icon-ion-social-android:before { content: '\f225';}
.icon-ion-social-apple-outline:before { content: '\f226';}
.icon-ion-social-apple:before { content: '\f227';}
.icon-ion-social-buffer-outline:before { content: '\f228';}
.icon-ion-social-buffer:before { content: '\f229';}
.icon-ion-social-designernews-outline:before { content: '\f22a';}
.icon-ion-social-designernews:before { content: '\f22b';}
.icon-ion-social-dribbble-outline:before { content: '\f22c';}
.icon-ion-social-dribbble:before { content: '\f22d';}
.icon-ion-social-dropbox-outline:before { content: '\f22e';}
.icon-ion-social-dropbox:before { content: '\f22f';}
.icon-ion-social-facebook-outline:before { content: '\f230';}
.icon-ion-social-facebook:before { content: '\f231';}
.icon-ion-social-github-outline:before { content: '\f232';}
.icon-ion-social-github:before { content: '\f233';}
.icon-ion-social-googleplus-outline:before { content: '\f234';}
.icon-ion-social-googleplus:before { content: '\f235';}
.icon-ion-social-hackernews-outline:before { content: '\f236';}
.icon-ion-social-hackernews:before { content: '\f237';}
.icon-ion-social-linkedin-outline:before { content: '\f238';}
.icon-ion-social-linkedin:before { content: '\f239';}
.icon-ion-social-reddit-outline:before { content: '\f23a';}
.icon-ion-social-reddit:before { content: '\f23b';}
.icon-ion-social-rss-outline:before { content: '\f23c';}
.icon-ion-social-rss:before { content: '\f23d';}
.icon-ion-social-skype-outline:before { content: '\f23e';}
.icon-ion-social-skype:before { content: '\f23f';}
.icon-ion-social-tumblr-outline:before { content: '\f240';}
.icon-ion-social-tumblr:before { content: '\f241';}
.icon-ion-social-twitter-outline:before { content: '\f242';}
.icon-ion-social-twitter:before { content: '\f243';}
.icon-ion-social-vimeo-outline:before { content: '\f244';}
.icon-ion-social-vimeo:before { content: '\f245';}
.icon-ion-social-windows-outline:before { content: '\f246';}
.icon-ion-social-windows:before { content: '\f247';}
.icon-ion-social-wordpress-outline:before { content: '\f248';}
.icon-ion-social-wordpress:before { content: '\f249';}
.icon-ion-social-yahoo-outline:before { content: '\f24a';}
.icon-ion-social-yahoo:before { content: '\f24b';}
.icon-ion-social-youtube-outline:before { content: '\f24c';}
.icon-ion-social-youtube:before { content: '\f24d';}
.icon-ion-star:before { content: '\f24e';}
.icon-ion-stop:before { content: '\f24f';}
.icon-ion-thumbsdown:before { content: '\f250';}
.icon-ion-thumbsup:before { content: '\f251';}
.icon-ion-trash-a:before { content: '\f252';}
.icon-ion-trash-b:before { content: '\f253';}
.icon-ion-unlocked:before { content: '\f254';}
.icon-ion-upload:before { content: '\f255';}
.icon-ion-videocamera:before { content: '\f256';}
.icon-ion-volume-high:before { content: '\f257';}
.icon-ion-volume-low:before { content: '\f258';}
.icon-ion-volume-medium:before { content: '\f259';}
.icon-ion-volume-mute:before { content: '\f25a';}
.icon-ion-waterdrop:before { content: '\f25b';}
.icon-ion-wifi:before { content: '\f25c';}
.icon-ion-woman:before { content: '\f25d';}
.icon-ion-arrow-expand:before { content: '\f25e';}
.icon-ion-arrow-graph-down-left:before { content: '\f25f';}
.icon-ion-arrow-graph-down-right:before { content: '\f260';}
.icon-ion-arrow-graph-up-left:before { content: '\f261';}
.icon-ion-arrow-graph-up-right:before { content: '\f262';}
.icon-ion-arrow-move:before { content: '\f263';}
.icon-ion-arrow-resize:before { content: '\f264';}
.icon-ion-arrow-return-left:before { content: '\f265';}
.icon-ion-arrow-return-right:before { content: '\f266';}
.icon-ion-arrow-shrink:before { content: '\f267';}
.icon-ion-arrow-swap:before { content: '\f268';}
.icon-ion-beaker:before { content: '\f269';}
.icon-ion-beer:before { content: '\f26a';}
.icon-ion-bookmark:before { content: '\f26b';}
.icon-ion-briefcase:before { content: '\f26c';}
.icon-ion-calculator:before { content: '\f26d';}
.icon-ion-clock:before { content: '\f26e';}
.icon-ion-code-download:before { content: '\f26f';}
.icon-ion-code-working:before { content: '\f270';}
.icon-ion-code:before { content: '\f271';}
.icon-ion-coffee:before { content: '\f272';}
.icon-ion-compass:before { content: '\f273';}
.icon-ion-connection-bars:before { content: '\f274';}
.icon-ion-contrast:before { content: '\f275';}
.icon-ion-earth:before { content: '\f276';}
.icon-ion-egg:before { content: '\f277';}
.icon-ion-female:before { content: '\f278';}
.icon-ion-flag:before { content: '\f279';}
.icon-ion-fork:before { content: '\f27a';}
.icon-ion-hammer:before { content: '\f27b';}
.icon-ion-help-buoy:before { content: '\f27c';}
.icon-ion-icecream:before { content: '\f27d';}
.icon-black-tie:before { content: '\f27e';}
.icon-fonticons:before { content: '\f280';}
.icon-reddit-alien:before { content: '\f281';}
.icon-edge:before { content: '\f282';}
.icon-credit-card-alt:before { content: '\f283';}
.icon-codiepie:before { content: '\f284';}
.icon-modx:before { content: '\f285';}
.icon-fort-awesome:before { content: '\f286';}
.icon-usb:before { content: '\f287';}
.icon-product-hunt:before { content: '\f288';}
.icon-mixcloud:before { content: '\f289';}
.icon-scribd:before { content: '\f28a';}
.icon-pause-circle:before { content: '\f28b';}
.icon-pause-circle-o:before { content: '\f28c';}
.icon-stop-circle:before { content: '\f28d';}
.icon-stop-circle-o:before { content: '\f28e';}
.icon-shopping-bag:before { content: '\f290';}
.icon-shopping-basket:before { content: '\f291';}
.icon-hashtag:before { content: '\f292';}
.icon-bluetooth:before { content: '\f293';}
.icon-bluetooth-b:before { content: '\f294';}
.icon-ion-jet:before { content: '\f295';}
.icon-ion-key:before { content: '\f296';}
.icon-ion-knife:before { content: '\f297';}
.icon-ion-levels:before { content: '\f298';}
.icon-ion-lightbulb:before { content: '\f299';}
.icon-ion-load-a:before { content: '\f29a';}
.icon-ion-load-b:before { content: '\f29b';}
.icon-ion-load-c:before { content: '\f29c';}
.icon-ion-load-d:before { content: '\f29d';}
.icon-ion-log-in:before { content: '\f29e';}
.icon-ion-log-out:before { content: '\f29f';}
.icon-ion-magnet:before { content: '\f2a0';}
.icon-ion-male:before { content: '\f2a1';}
.icon-ion-medkit:before { content: '\f2a2';}
.icon-ion-navigate:before { content: '\f2a3';}
.icon-ion-nuclear:before { content: '\f2a4';}
.icon-ion-pie-graph:before { content: '\f2a5';}
.icon-ion-pin:before { content: '\f2a6';}
.icon-ion-pinpoint:before { content: '\f2a7';}
.icon-ion-pizza:before { content: '\f2a8';}
.icon-ion-power:before { content: '\f2a9';}
.icon-ion-pricetag:before { content: '\f2aa';}
.icon-ion-pricetags:before { content: '\f2ab';}
.icon-ion-radio-waves:before { content: '\f2ac';}
.icon-ion-settings:before { content: '\f2ad';}
.icon-ion-social-bitcoin-outline:before { content: '\f2ae';}
.icon-ion-social-bitcoin:before { content: '\f2af';}
.icon-ion-social-pinterest-outline:before { content: '\f2b0';}
.icon-ion-social-pinterest:before { content: '\f2b1';}
.icon-ion-speakerphone:before { content: '\f2b2';}
.icon-ion-speedometer:before { content: '\f2b3';}
.icon-ion-spoon:before { content: '\f2b4';}
.icon-ion-stats-bars:before { content: '\f2b5';}
.icon-ion-thermometer:before { content: '\f2b6';}
.icon-ion-umbrella:before { content: '\f2b7';}
.icon-ion-usb:before { content: '\f2b8';}
.icon-ion-wineglass:before { content: '\f2b9';}
.icon-ion-wrench:before { content: '\f2ba';}
.icon-address-card:before { content: '\f2bb';}
.icon-address-card-o:before { content: '\f2bc';}
.icon-user-circle:before { content: '\f2bd';}
.icon-ion-bug:before { content: '\f2be';}
.icon-ion-edit:before { content: '\f2bf';}
.icon-ion-fork-repo:before { content: '\f2c0';}
.icon-ion-model-s:before { content: '\f2c1';}
.icon-ion-no-smoking:before { content: '\f2c2';}
.icon-ion-paper-airplane:before { content: '\f2c3';}
.icon-ion-social-freebsd-devil:before { content: '\f2c4';}
.icon-ion-social-tux:before { content: '\f2c5';}
.icon-telegram:before { content: '\f2c6';}
.icon-ion-android-add:before { content: '\f2c7';}
.icon-thermometer-3:before { content: '\f2c8';}
.icon-ion-android-archive:before { content: '\f2c9';}
.icon-ion-android-arrow-back:before { content: '\f2ca';}
.icon-thermometer-0:before { content: '\f2cb';}
.icon-shower:before { content: '\f2cc';}
.icon-bath:before { content: '\f2cd';}
.icon-podcast:before { content: '\f2ce';}
.icon-window-maximize:before { content: '\f2d0';}
.icon-ion-android-calendar:before { content: '\f2d1';}
.icon-ion-android-call:before { content: '\f2d2';}
.icon-ion-android-camera:before { content: '\f2d3';}
.icon-ion-android-chat:before { content: '\f2d4';}
.icon-bandcamp:before { content: '\f2d5';}
.icon-grav:before { content: '\f2d6';}
.icon-ion-android-close:before { content: '\f2d7';}
.icon-ion-android-contact:before { content: '\f2d8';}
.icon-ion-android-contacts:before { content: '\f2d9';}
.icon-eercast:before { content: '\f2da';}
.icon-microchip:before { content: '\f2db';}
.icon-snowflake-o:before { content: '\f2dc';}
.icon-ion-android-download:before { content: '\f2dd';}
.icon-wpexplorer:before { content: '\f2de';}
.icon-ion-android-folder:before { content: '\f2e0';}
.icon-ion-android-hand:before { content: '\f2e3';}
.icon-ion-android-image:before { content: '\f2e4';}
.icon-ion-android-locate:before { content: '\f2e9';}
.icon-ion-android-mail:before { content: '\f2eb';}
.icon-ion-android-microphone:before { content: '\f2ec';}
.icon-ion-android-playstore:before { content: '\f2f0';}
.icon-ion-android-remove:before { content: '\f2f4';}
.icon-ion-android-search:before { content: '\f2f5';}
.icon-ion-android-send:before { content: '\f2f6';}
.icon-ion-android-settings:before { content: '\f2f7';}
.icon-ion-android-share:before { content: '\f2f8';}
.icon-ion-android-star:before { content: '\f2fc';}
.icon-ion-android-stopwatch:before { content: '\f2fd';}
.icon-github-squared:before { content: '\f300';}
.icon-twitter-squared:before { content: '\f304';}
.icon-ion-android-wifi:before { content: '\f305';}
.icon-ion-eye-disabled:before { content: '\f306';}
.icon-facebook-squared:before { content: '\f308';}
.icon-ion-playstation:before { content: '\f30a';}
.icon-ion-steam:before { content: '\f30b';}
.icon-ion-xbox:before { content: '\f30c';}
.icon-ion-android-arrow-forward:before { content: '\f30f';}
.icon-ion-aperture:before { content: '\f313';}
.icon-ion-asterisk:before { content: '\f314';}
.icon-ion-bonfire:before { content: '\f315';}
.icon-ion-cash:before { content: '\f316';}
.icon-ion-closed-captioning:before { content: '\f317';}
.icon-ion-cube:before { content: '\f318';}
.icon-ion-fireball:before { content: '\f319';}
.icon-ion-flame:before { content: '\f31a';}
.icon-ion-funnel:before { content: '\f31b';}
.icon-ion-happy:before { content: '\f31c';}
.icon-ion-heart-broken:before { content: '\f31d';}
.icon-ion-merge:before { content: '\f33f';}
.icon-ion-mouse:before { content: '\f340';}
.icon-ion-network:before { content: '\f341';}
.icon-ion-outlet:before { content: '\f342';}
.icon-ion-planet:before { content: '\f343';}
.icon-ion-podium:before { content: '\f344';}
.icon-ion-pull-request:before { content: '\f345';}
.icon-ion-qr-scanner:before { content: '\f346';}
.icon-ion-quote:before { content: '\f347';}
.icon-ion-ribbon-a:before { content: '\f348';}
.icon-ion-ribbon-b:before { content: '\f349';}
.icon-ion-sad:before { content: '\f34a';}
.icon-ion-scissors:before { content: '\f34b';}
.icon-ion-social-foursquare-outline:before { content: '\f34c';}
.icon-ion-social-foursquare:before { content: '\f34d';}
.icon-ion-social-google-outline:before { content: '\f34e';}
.icon-ion-social-google:before { content: '\f34f';}
.icon-ion-social-instagram-outline:before { content: '\f350';}
.icon-ion-social-instagram:before { content: '\f351';}
.icon-ion-social-usd-outline:before { content: '\f352';}
.icon-ion-social-usd:before { content: '\f353';}
.icon-ion-toggle-filled:before { content: '\f354';}
.icon-ion-toggle:before { content: '\f355';}
.icon-ion-trophy:before { content: '\f356';}
.icon-ion-university:before { content: '\f357';}
.icon-ion-wand:before { content: '\f358';}
.icon-ion-android-add-circle:before { content: '\f359';}
.icon-ion-android-alarm-clock:before { content: '\f35a';}
.icon-ion-android-alert:before { content: '\f35b';}
.icon-ion-android-apps:before { content: '\f35c';}
.icon-ion-android-arrow-down:before { content: '\f35d';}
.icon-ion-android-arrow-dropdown-circle:before { content: '\f35e';}
.icon-ion-android-arrow-dropdown:before { content: '\f35f';}
.icon-ion-android-arrow-dropleft-circle:before { content: '\f360';}
.icon-ion-android-arrow-dropleft:before { content: '\f361';}
.icon-ion-android-arrow-dropright-circle:before { content: '\f362';}
.icon-ion-android-arrow-dropright:before { content: '\f363';}
.icon-ion-android-arrow-dropup-circle:before { content: '\f364';}
.icon-ion-android-arrow-dropup:before { content: '\f365';}
.icon-ion-android-arrow-up:before { content: '\f366';}
.icon-ion-android-attach:before { content: '\f367';}
.icon-ion-android-bar:before { content: '\f368';}
.icon-ion-android-bicycle:before { content: '\f369';}
.icon-ion-android-boat:before { content: '\f36a';}
.icon-ion-android-bookmark:before { content: '\f36b';}
.icon-ion-android-bulb:before { content: '\f36c';}
.icon-ion-android-bus:before { content: '\f36d';}
.icon-ion-android-cancel:before { content: '\f36e';}
.icon-ion-android-car:before { content: '\f36f';}
.icon-ion-android-cart:before { content: '\f370';}
.icon-ion-android-checkbox-blank:before { content: '\f371';}
.icon-ion-android-checkbox-outline-blank:before { content: '\f372';}
.icon-ion-android-checkbox-outline:before { content: '\f373';}
.icon-ion-android-checkbox:before { content: '\f374';}
.icon-ion-android-checkmark-circle:before { content: '\f375';}
.icon-ion-android-clipboard:before { content: '\f376';}
.icon-ion-android-cloud-circle:before { content: '\f377';}
.icon-ion-android-cloud-done:before { content: '\f378';}
.icon-ion-android-cloud-outline:before { content: '\f379';}
.icon-ion-android-cloud:before { content: '\f37a';}
.icon-ion-android-color-palette:before { content: '\f37b';}
.icon-ion-android-compass:before { content: '\f37c';}
.icon-ion-android-contract:before { content: '\f37d';}
.icon-ion-android-create:before { content: '\f37e';}
.icon-ion-android-delete:before { content: '\f37f';}
.icon-ion-android-desktop:before { content: '\f380';}
.icon-ion-android-document:before { content: '\f381';}
.icon-ion-android-done-all:before { content: '\f382';}
.icon-ion-android-done:before { content: '\f383';}
.icon-ion-android-drafts:before { content: '\f384';}
.icon-ion-android-exit:before { content: '\f385';}
.icon-ion-android-expand:before { content: '\f386';}
.icon-ion-android-favorite-outline:before { content: '\f387';}
.icon-ion-android-favorite:before { content: '\f388';}
.icon-ion-android-film:before { content: '\f389';}
.icon-ion-android-folder-open:before { content: '\f38a';}
.icon-ion-android-funnel:before { content: '\f38b';}
.icon-ion-android-globe:before { content: '\f38c';}
.icon-ion-android-hangout:before { content: '\f38d';}
.icon-ion-android-happy:before { content: '\f38e';}
.icon-ion-android-home:before { content: '\f38f';}
.icon-ion-android-laptop:before { content: '\f390';}
.icon-ion-android-list:before { content: '\f391';}
.icon-ion-android-lock:before { content: '\f392';}
.icon-ion-android-map:before { content: '\f393';}
.icon-ion-android-menu:before { content: '\f394';}
.icon-ion-android-microphone-off:before { content: '\f395';}
.icon-ion-android-more-horizontal:before { content: '\f396';}
.icon-ion-android-more-vertical:before { content: '\f397';}
.icon-ion-android-navigate:before { content: '\f398';}
.icon-ion-android-notifications-none:before { content: '\f399';}
.icon-ion-android-notifications-off:before { content: '\f39a';}
.icon-ion-android-notifications:before { content: '\f39b';}
.icon-ion-android-open:before { content: '\f39c';}
.icon-ion-android-options:before { content: '\f39d';}
.icon-ion-android-people:before { content: '\f39e';}
.icon-ion-android-person-add:before { content: '\f39f';}
.icon-ion-android-person:before { content: '\f3a0';}
.icon-ion-android-phone-landscape:before { content: '\f3a1';}
.icon-ion-android-phone-portrait:before { content: '\f3a2';}
.icon-ion-android-pin:before { content: '\f3a3';}
.icon-ion-android-plane:before { content: '\f3a4';}
.icon-ion-android-print:before { content: '\f3a5';}
.icon-ion-android-radio-button-off:before { content: '\f3a6';}
.icon-ion-android-radio-button-on:before { content: '\f3a7';}
.icon-ion-android-refresh:before { content: '\f3a8';}
.icon-ion-android-remove-circle:before { content: '\f3a9';}
.icon-ion-android-restaurant:before { content: '\f3aa';}
.icon-ion-android-sad:before { content: '\f3ab';}
.icon-ion-android-share-alt:before { content: '\f3ac';}
.icon-ion-android-star-half:before { content: '\f3ad';}
.icon-ion-android-star-outline:before { content: '\f3ae';}
.icon-ion-android-subway:before { content: '\f3af';}
.icon-ion-android-sunny:before { content: '\f3b0';}
.icon-ion-android-sync:before { content: '\f3b1';}
.icon-ion-android-textsms:before { content: '\f3b2';}
.icon-ion-android-time:before { content: '\f3b3';}
.icon-ion-android-train:before { content: '\f3b4';}
.icon-ion-android-unlock:before { content: '\f3b5';}
.icon-ion-android-upload:before { content: '\f3b6';}
.icon-ion-android-volume-down:before { content: '\f3b7';}
.icon-ion-android-volume-mute:before { content: '\f3b8';}
.icon-ion-android-volume-off:before { content: '\f3b9';}
.icon-ion-android-volume-up:before { content: '\f3ba';}
.icon-ion-android-walk:before { content: '\f3bb';}
.icon-ion-android-warning:before { content: '\f3bc';}
.icon-ion-android-watch:before { content: '\f3bd';}
.icon-ion-backspace-outline:before { content: '\f3be';}
.icon-ion-backspace:before { content: '\f3bf';}
.icon-ion-bowtie:before { content: '\f3c0';}
.icon-ion-crop:before { content: '\f3c1';}
.icon-ion-easel:before { content: '\f3c2';}
.icon-ion-email-unread:before { content: '\f3c3';}
.icon-ion-erlenmeyer-flask-bubbles:before { content: '\f3c4';}
.icon-ion-erlenmeyer-flask:before { content: '\f3c5';}
.icon-ion-happy-outline:before { content: '\f3c6';}
.icon-ion-ios-alarm-outline:before { content: '\f3c7';}
.icon-ion-ios-alarm:before { content: '\f3c8';}
.icon-ion-ios-albums-outline:before { content: '\f3c9';}
.icon-ion-ios-albums:before { content: '\f3ca';}
.icon-ion-ios-americanfootball-outline:before { content: '\f3cb';}
.icon-ion-ios-americanfootball:before { content: '\f3cc';}
.icon-ion-ios-analytics-outline:before { content: '\f3cd';}
.icon-ion-ios-analytics:before { content: '\f3ce';}
.icon-ion-ios-arrow-back:before { content: '\f3cf';}
.icon-ion-ios-arrow-down:before { content: '\f3d0';}
.icon-ion-ios-arrow-forward:before { content: '\f3d1';}
.icon-ion-ios-arrow-left:before { content: '\f3d2';}
.icon-ion-ios-arrow-right:before { content: '\f3d3';}
.icon-ion-ios-arrow-thin-down:before { content: '\f3d4';}
.icon-ion-ios-arrow-thin-left:before { content: '\f3d5';}
.icon-ion-ios-arrow-thin-right:before { content: '\f3d6';}
.icon-ion-ios-arrow-thin-up:before { content: '\f3d7';}
.icon-ion-ios-arrow-up:before { content: '\f3d8';}
.icon-ion-ios-at-outline:before { content: '\f3d9';}
.icon-ion-ios-at:before { content: '\f3da';}
.icon-ion-ios-barcode-outline:before { content: '\f3db';}
.icon-ion-ios-barcode:before { content: '\f3dc';}
.icon-ion-ios-baseball-outline:before { content: '\f3dd';}
.icon-ion-ios-baseball:before { content: '\f3de';}
.icon-ion-ios-basketball-outline:before { content: '\f3df';}
.icon-ion-ios-basketball:before { content: '\f3e0';}
.icon-ion-ios-bell-outline:before { content: '\f3e1';}
.icon-ion-ios-bell:before { content: '\f3e2';}
.icon-ion-ios-body-outline:before { content: '\f3e3';}
.icon-ion-ios-body:before { content: '\f3e4';}
.icon-ion-ios-bolt-outline:before { content: '\f3e5';}
.icon-ion-ios-bolt:before { content: '\f3e6';}
.icon-ion-ios-book-outline:before { content: '\f3e7';}
.icon-ion-ios-book:before { content: '\f3e8';}
.icon-ion-ios-bookmarks-outline:before { content: '\f3e9';}
.icon-ion-ios-bookmarks:before { content: '\f3ea';}
.icon-ion-ios-box-outline:before { content: '\f3eb';}
.icon-ion-ios-box:before { content: '\f3ec';}
.icon-ion-ios-briefcase-outline:before { content: '\f3ed';}
.icon-ion-ios-briefcase:before { content: '\f3ee';}
.icon-ion-ios-browsers-outline:before { content: '\f3ef';}
.icon-ion-ios-browsers:before { content: '\f3f0';}
.icon-ion-ios-calculator-outline:before { content: '\f3f1';}
.icon-ion-ios-calculator:before { content: '\f3f2';}
.icon-ion-ios-calendar-outline:before { content: '\f3f3';}
.icon-ion-ios-calendar:before { content: '\f3f4';}
.icon-ion-ios-camera-outline:before { content: '\f3f5';}
.icon-ion-ios-camera:before { content: '\f3f6';}
.icon-ion-ios-cart-outline:before { content: '\f3f7';}
.icon-ion-ios-cart:before { content: '\f3f8';}
.icon-ion-ios-chatboxes-outline:before { content: '\f3f9';}
.icon-ion-ios-chatboxes:before { content: '\f3fa';}
.icon-ion-ios-chatbubble-outline:before { content: '\f3fb';}
.icon-ion-ios-chatbubble:before { content: '\f3fc';}
.icon-ion-ios-checkmark-empty:before { content: '\f3fd';}
.icon-ion-ios-checkmark-outline:before { content: '\f3fe';}
.icon-ion-ios-checkmark:before { content: '\f3ff';}
.icon-ion-ios-circle-filled:before { content: '\f400';}
.icon-ion-ios-circle-outline:before { content: '\f401';}
.icon-ion-ios-clock-outline:before { content: '\f402';}
.icon-ion-ios-clock:before { content: '\f403';}
.icon-ion-ios-close-empty:before { content: '\f404';}
.icon-ion-ios-close-outline:before { content: '\f405';}
.icon-ion-ios-close:before { content: '\f406';}
.icon-ion-ios-cloud-download-outline:before { content: '\f407';}
.icon-ion-ios-cloud-download:before { content: '\f408';}
.icon-ion-ios-cloud-outline:before { content: '\f409';}
.icon-ion-ios-cloud-upload-outline:before { content: '\f40a';}
.icon-ion-ios-cloud-upload:before { content: '\f40b';}
.icon-ion-ios-cloud:before { content: '\f40c';}
.icon-ion-ios-cloudy-night-outline:before { content: '\f40d';}
.icon-ion-ios-cloudy-night:before { content: '\f40e';}
.icon-ion-ios-cloudy-outline:before { content: '\f40f';}
.icon-ion-ios-cloudy:before { content: '\f410';}
.icon-ion-ios-cog-outline:before { content: '\f411';}
.icon-ion-ios-cog:before { content: '\f412';}
.icon-ion-ios-color-filter-outline:before { content: '\f413';}
.icon-ion-ios-color-filter:before { content: '\f414';}
.icon-ion-ios-color-wand-outline:before { content: '\f415';}
.icon-ion-ios-color-wand:before { content: '\f416';}
.icon-ion-ios-compose-outline:before { content: '\f417';}
.icon-ion-ios-compose:before { content: '\f418';}
.icon-ion-ios-contact-outline:before { content: '\f419';}
.icon-ion-ios-contact:before { content: '\f41a';}
.icon-ion-ios-copy-outline:before { content: '\f41b';}
.icon-ion-ios-copy:before { content: '\f41c';}
.icon-ion-ios-crop-strong:before { content: '\f41d';}
.icon-ion-ios-crop:before { content: '\f41e';}
.icon-ion-ios-download-outline:before { content: '\f41f';}
.icon-ion-ios-download:before { content: '\f420';}
.icon-ion-ios-drag:before { content: '\f421';}
.icon-ion-ios-email-outline:before { content: '\f422';}
.icon-ion-ios-email:before { content: '\f423';}
.icon-ion-ios-eye-outline:before { content: '\f424';}
.icon-ion-ios-eye:before { content: '\f425';}
.icon-ion-ios-fastforward-outline:before { content: '\f426';}
.icon-ion-ios-fastforward:before { content: '\f427';}
.icon-ion-ios-filing-outline:before { content: '\f428';}
.icon-ion-ios-filing:before { content: '\f429';}
.icon-ion-ios-film-outline:before { content: '\f42a';}
.icon-ion-ios-film:before { content: '\f42b';}
.icon-ion-ios-flag-outline:before { content: '\f42c';}
.icon-ion-ios-flag:before { content: '\f42d';}
.icon-ion-ios-flame-outline:before { content: '\f42e';}
.icon-ion-ios-flame:before { content: '\f42f';}
.icon-ion-ios-flask-outline:before { content: '\f430';}
.icon-ion-ios-flask:before { content: '\f431';}
.icon-ion-ios-flower-outline:before { content: '\f432';}
.icon-ion-ios-flower:before { content: '\f433';}
.icon-ion-ios-folder-outline:before { content: '\f434';}
.icon-ion-ios-folder:before { content: '\f435';}
.icon-ion-ios-football-outline:before { content: '\f436';}
.icon-ion-ios-football:before { content: '\f437';}
.icon-ion-ios-game-controller-a-outline:before { content: '\f438';}
.icon-ion-ios-game-controller-a:before { content: '\f439';}
.icon-ion-ios-game-controller-b-outline:before { content: '\f43a';}
.icon-ion-ios-game-controller-b:before { content: '\f43b';}
.icon-ion-ios-gear-outline:before { content: '\f43c';}
.icon-ion-ios-gear:before { content: '\f43d';}
.icon-ion-ios-glasses-outline:before { content: '\f43e';}
.icon-ion-ios-glasses:before { content: '\f43f';}
.icon-ion-ios-grid-view-outline:before { content: '\f440';}
.icon-ion-ios-grid-view:before { content: '\f441';}
.icon-ion-ios-heart-outline:before { content: '\f442';}
.icon-ion-ios-heart:before { content: '\f443';}
.icon-ion-ios-help-empty:before { content: '\f444';}
.icon-ion-ios-help-outline:before { content: '\f445';}
.icon-ion-ios-help:before { content: '\f446';}
.icon-ion-ios-home-outline:before { content: '\f447';}
.icon-ion-ios-home:before { content: '\f448';}
.icon-ion-ios-infinite-outline:before { content: '\f449';}
.icon-ion-ios-infinite:before { content: '\f44a';}
.icon-ion-ios-information-empty:before { content: '\f44b';}
.icon-ion-ios-information-outline:before { content: '\f44c';}
.icon-ion-ios-information:before { content: '\f44d';}
.icon-ion-ios-ionic-outline:before { content: '\f44e';}
.icon-ion-ios-keypad-outline:before { content: '\f44f';}
.icon-ion-ios-keypad:before { content: '\f450';}
.icon-ion-ios-lightbulb-outline:before { content: '\f451';}
.icon-ion-ios-lightbulb:before { content: '\f452';}
.icon-ion-ios-list-outline:before { content: '\f453';}
.icon-ion-ios-list:before { content: '\f454';}
.icon-ion-ios-location-outline:before { content: '\f455';}
.icon-ion-ios-location:before { content: '\f456';}
.icon-ion-ios-locked-outline:before { content: '\f457';}
.icon-ion-ios-locked:before { content: '\f458';}
.icon-ion-ios-loop-strong:before { content: '\f459';}
.icon-ion-ios-loop:before { content: '\f45a';}
.icon-ion-ios-medical-outline:before { content: '\f45b';}
.icon-ion-ios-medical:before { content: '\f45c';}
.icon-ion-ios-medkit-outline:before { content: '\f45d';}
.icon-ion-ios-medkit:before { content: '\f45e';}
.icon-ion-ios-mic-off:before { content: '\f45f';}
.icon-ion-ios-mic-outline:before { content: '\f460';}
.icon-ion-ios-mic:before { content: '\f461';}
.icon-ion-ios-minus-empty:before { content: '\f462';}
.icon-ion-ios-minus-outline:before { content: '\f463';}
.icon-ion-ios-minus:before { content: '\f464';}
.icon-ion-ios-monitor-outline:before { content: '\f465';}
.icon-ion-ios-monitor:before { content: '\f466';}
.icon-ion-ios-moon-outline:before { content: '\f467';}
.icon-ion-ios-moon:before { content: '\f468';}
.icon-ion-ios-more-outline:before { content: '\f469';}
.icon-ion-ios-more:before { content: '\f46a';}
.icon-ion-ios-musical-note:before { content: '\f46b';}
.icon-ion-ios-musical-notes:before { content: '\f46c';}
.icon-ion-ios-navigate-outline:before { content: '\f46d';}
.icon-ion-ios-navigate:before { content: '\f46e';}
.icon-ion-ios-nutrition-outline:before { content: '\f46f';}
.icon-ion-ios-nutrition:before { content: '\f470';}
.icon-ion-ios-paper-outline:before { content: '\f471';}
.icon-ion-ios-paper:before { content: '\f472';}
.icon-ion-ios-paperplane-outline:before { content: '\f473';}
.icon-ion-ios-paperplane:before { content: '\f474';}
.icon-ion-ios-partlysunny-outline:before { content: '\f475';}
.icon-ion-ios-partlysunny:before { content: '\f476';}
.icon-ion-ios-pause-outline:before { content: '\f477';}
.icon-ion-ios-pause:before { content: '\f478';}
.icon-ion-ios-paw-outline:before { content: '\f479';}
.icon-ion-ios-paw:before { content: '\f47a';}
.icon-ion-ios-people-outline:before { content: '\f47b';}
.icon-ion-ios-people:before { content: '\f47c';}
.icon-ion-ios-person-outline:before { content: '\f47d';}
.icon-ion-ios-person:before { content: '\f47e';}
.icon-ion-ios-personadd-outline:before { content: '\f47f';}
.icon-ion-ios-personadd:before { content: '\f480';}
.icon-ion-ios-photos-outline:before { content: '\f481';}
.icon-ion-ios-photos:before { content: '\f482';}
.icon-ion-ios-pie-outline:before { content: '\f483';}
.icon-ion-ios-pie:before { content: '\f484';}
.icon-ion-ios-pint-outline:before { content: '\f485';}
.icon-ion-ios-pint:before { content: '\f486';}
.icon-ion-ios-play-outline:before { content: '\f487';}
.icon-ion-ios-play:before { content: '\f488';}
.icon-ion-ios-plus-empty:before { content: '\f489';}
.icon-ion-ios-plus-outline:before { content: '\f48a';}
.icon-ion-ios-plus:before { content: '\f48b';}
.icon-ion-ios-pricetag-outline:before { content: '\f48c';}
.icon-ion-ios-pricetag:before { content: '\f48d';}
.icon-ion-ios-pricetags-outline:before { content: '\f48e';}
.icon-ion-ios-pricetags:before { content: '\f48f';}
.icon-ion-ios-printer-outline:before { content: '\f490';}
.icon-ion-ios-printer:before { content: '\f491';}
.icon-ion-ios-pulse-strong:before { content: '\f492';}
.icon-ion-ios-pulse:before { content: '\f493';}
.icon-ion-ios-rainy-outline:before { content: '\f494';}
.icon-ion-ios-rainy:before { content: '\f495';}
.icon-ion-ios-recording-outline:before { content: '\f496';}
.icon-ion-ios-recording:before { content: '\f497';}
.icon-ion-ios-redo-outline:before { content: '\f498';}
.icon-ion-ios-redo:before { content: '\f499';}
.icon-ion-ios-refresh-empty:before { content: '\f49a';}
.icon-ion-ios-refresh-outline:before { content: '\f49b';}
.icon-ion-ios-refresh:before { content: '\f49c';}
.icon-ion-ios-reload:before { content: '\f49d';}
.icon-ion-ios-reverse-camera-outline:before { content: '\f49e';}
.icon-ion-ios-reverse-camera:before { content: '\f49f';}
.icon-ion-ios-rewind-outline:before { content: '\f4a0';}
.icon-ion-ios-rewind:before { content: '\f4a1';}
.icon-ion-ios-rose-outline:before { content: '\f4a2';}
.icon-ion-ios-rose:before { content: '\f4a3';}
.icon-ion-ios-search-strong:before { content: '\f4a4';}
.icon-ion-ios-search:before { content: '\f4a5';}
.icon-ion-ios-settings-strong:before { content: '\f4a6';}
.icon-ion-ios-settings:before { content: '\f4a7';}
.icon-ion-ios-shuffle-strong:before { content: '\f4a8';}
.icon-ion-ios-shuffle:before { content: '\f4a9';}
.icon-ion-ios-skipbackward-outline:before { content: '\f4aa';}
.icon-ion-ios-skipbackward:before { content: '\f4ab';}
.icon-ion-ios-skipforward-outline:before { content: '\f4ac';}
.icon-ion-ios-skipforward:before { content: '\f4ad';}
.icon-ion-ios-snowy:before { content: '\f4ae';}
.icon-ion-ios-speedometer-outline:before { content: '\f4af';}
.icon-ion-ios-speedometer:before { content: '\f4b0';}
.icon-ion-ios-star-half:before { content: '\f4b1';}
.icon-ion-ios-star-outline:before { content: '\f4b2';}
.icon-ion-ios-star:before { content: '\f4b3';}
.icon-ion-ios-stopwatch-outline:before { content: '\f4b4';}
.icon-ion-ios-stopwatch:before { content: '\f4b5';}
.icon-ion-ios-sunny-outline:before { content: '\f4b6';}
.icon-ion-ios-sunny:before { content: '\f4b7';}
.icon-ion-ios-telephone-outline:before { content: '\f4b8';}
.icon-ion-ios-telephone:before { content: '\f4b9';}
.icon-ion-ios-tennisball-outline:before { content: '\f4ba';}
.icon-ion-ios-tennisball:before { content: '\f4bb';}
.icon-ion-ios-thunderstorm-outline:before { content: '\f4bc';}
.icon-ion-ios-thunderstorm:before { content: '\f4bd';}
.icon-ion-ios-time-outline:before { content: '\f4be';}
.icon-ion-ios-time:before { content: '\f4bf';}
.icon-ion-ios-timer-outline:before { content: '\f4c0';}
.icon-ion-ios-timer:before { content: '\f4c1';}
.icon-ion-ios-toggle-outline:before { content: '\f4c2';}
.icon-ion-ios-toggle:before { content: '\f4c3';}
.icon-ion-ios-trash-outline:before { content: '\f4c4';}
.icon-ion-ios-trash:before { content: '\f4c5';}
.icon-ion-ios-undo-outline:before { content: '\f4c6';}
.icon-ion-ios-undo:before { content: '\f4c7';}
.icon-ion-ios-unlocked-outline:before { content: '\f4c8';}
.icon-ion-ios-unlocked:before { content: '\f4c9';}
.icon-ion-ios-upload-outline:before { content: '\f4ca';}
.icon-ion-ios-upload:before { content: '\f4cb';}
.icon-ion-ios-videocam-outline:before { content: '\f4cc';}
.icon-ion-ios-videocam:before { content: '\f4cd';}
.icon-ion-ios-volume-high:before { content: '\f4ce';}
.icon-ion-ios-volume-low:before { content: '\f4cf';}
.icon-ion-ios-wineglass-outline:before { content: '\f4d0';}
.icon-ion-ios-wineglass:before { content: '\f4d1';}
.icon-ion-ios-world-outline:before { content: '\f4d2';}
.icon-ion-ios-world:before { content: '\f4d3';}
.icon-ion-lock-combination:before { content: '\f4d4';}
.icon-ion-paintbrush:before { content: '\f4d5';}
.icon-ion-paintbucket:before { content: '\f4d6';}
.icon-ion-sad-outline:before { content: '\f4d7';}
.icon-ion-social-angular-outline:before { content: '\f4d8';}
.icon-ion-social-angular:before { content: '\f4d9';}
.icon-ion-social-chrome-outline:before { content: '\f4da';}
.icon-ion-social-chrome:before { content: '\f4db';}
.icon-ion-social-codepen-outline:before { content: '\f4dc';}
.icon-ion-social-codepen:before { content: '\f4dd';}
.icon-ion-social-css3-outline:before { content: '\f4de';}
.icon-ion-social-css3:before { content: '\f4df';}
.icon-ion-social-euro-outline:before { content: '\f4e0';}
.icon-ion-social-euro:before { content: '\f4e1';}
.icon-ion-social-html5-outline:before { content: '\f4e2';}
.icon-ion-social-html5:before { content: '\f4e3';}
.icon-ion-social-javascript-outline:before { content: '\f4e4';}
.icon-ion-social-javascript:before { content: '\f4e5';}
.icon-ion-social-markdown:before { content: '\f4e6';}
.icon-ion-social-nodejs:before { content: '\f4e7';}
.icon-ion-social-octocat:before { content: '\f4e8';}
.icon-ion-social-python:before { content: '\f4e9';}
.icon-ion-social-sass:before { content: '\f4ea';}
.icon-ion-social-snapchat-outline:before { content: '\f4eb';}
.icon-ion-social-snapchat:before { content: '\f4ec';}
.icon-ion-social-twitch-outline:before { content: '\f4ed';}
.icon-ion-social-twitch:before { content: '\f4ee';}
.icon-ion-social-whatsapp-outline:before { content: '\f4ef';}
.icon-ion-social-whatsapp:before { content: '\f4f0';}
.icon-ion-social-yen-outline:before { content: '\f4f1';}
.icon-ion-social-yen:before { content: '\f4f2';}
.icon-ion-soup-can-outline:before { content: '\f4f3';}
.icon-ion-soup-can:before { content: '\f4f4';}
.icon-ion-transgender:before { content: '\f4f5';}
.icon-ion-tshirt-outline:before { content: '\f4f6';}
.icon-ion-tshirt:before { content: '\f4f7';}